/* div{
    background-color: papayawhip;
    margin: 20px;
    border: 20px solid yellow;
} */

/* div{
    background-color: papayawhip;
    position: relative;    
}
.box1{
    background: yellow;
}
.box2{
    background: red;
}
.box3{
    background: blue;
}

.box1, .box2, .box3{
    margin: 20px 0;
    width: 250px;
    height: 250px;
}
.box2{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenido-newspaper{
    width: 1200px;
    margin:auto;
}
body{
    background-image: url(/Images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    width: 100%;
    padding: 10px 0px 5px 20px;
}
.header-left{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 20%;
}

.header-right{
    position: relative;
    display: inline-block;
    width: 24%;
    top: -20px;
}
.header-right img{    
    margin-right: 70px;
}
.header-right i{
    position: relative;
    display: inline-block;
    font-size: 40px;

    text-align: center;
}
.header-right p{  
    position: relative;
    display: inline-block;
    width: 220px;
    right: 0px;
    left: 15px;
    top: 10px;
}
.header-tittle{
    position: relative;
    display: inline-block;
    text-align: center;
    top: -70px;
    width: 55%;
}
.contenedor img{
    width: 100%;
}
.contenedor{
    width: 77.5rem;
    text-align: justify;
    background-color: red;
}

.card1, .card2, .card3{
    width: 32%;
    background-color: blanchedalmond;
}
.card1{
    display: inline-block;
    top: 0;
    left: 0;
    margin: auto;
}
.card2{
    display: inline-block;
    top: 0;
    left: 0;
    margin: auto;

}
.card3{
    display: inline-block;
    top: 0;
    left: 0;
    margin: auto;
}

#flores{
    margin: 10px;
    width: 100px;
}
footer img{
    width: 100%;
}